[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
dvc = "*"
dvc-gdrive = "*"
ipykernel = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
scikit-learn = "*"
seaborn = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.12"
